html {
    box-sizing: border-box;
}
body {
    background-color: #935d8c;
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    font-size: 14pt;
  }
  


#wrapper {
    max-width: 64em;
    margin: auto;
    height: 100%;
    
}

header {
    position: relative;
    margin: auto;
    text-align: center;
    padding: 7em 5em 4em 5em;
    
}

header img {
    max-width: 75px;
}

nav {
    background-color: #f7f7f7;
    padding: 1em;
    border-radius: 0.25em 0.25em 0 0 ;
}



ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#main {
    background-color: #ffffff;
color: #636363;
text-align: center;
padding: 5em 5em 3em 5em ;
border-radius: 0 0 0.25em 0.25em;
}

#intro, #magna, #ipsum {
   
    display: flex;
}

#intro {
    border-bottom: 1px #dddddd solid;
    padding: 2em 0 2em 0;
}

#intro_text {
    flex: 2;
    margin-right: 5%;
}

#intro_text p {
    columns: 20em 2;
}

#intro_img {
    flex: 1.2;
}

#intro_img img {
    display: inline-block;
    width: 70%;
    margin-left: 4em;
    padding: 0.65em;
    border-radius: 100%;
    border: solid #dddddd 1px;
}

#magna div {
    justify-content: space-around;
    text-align: center;
    padding: 2em;
}

#magna img {
    max-width: 150px;
    border: 1px solid #dddddd ;
    padding: 20px;
    border-radius: 100px;
    height: 150px;
    
}

#ipsum {
    border-top: 1px #dddddd solid;
    margin-top: 20px;
    justify-content:center;
    
}

#ipsum div {
   width: 20%; 
   padding: 20px;
}

#ipsum img {
        width:35%;
        max-width: 150px;
        padding: 20px; 
    }

.style1 {
    background-color: #efa8b0;
    border-radius: 20px 0px 0px 20px ;

}
.style2 {
    background-color: #c79cc8;
   

}
.style3 {
    background-color: #a89cc8;
  

}
.style4 {
    background-color: #9bb2e1;
   

}
.style5 {
    background-color: #8cc9f0;
    border-radius: 0px 20px 20px 0px ;

}

.text_colomns {
    columns: 20em 2;
    text-align: justify;
}


.section_footer {
    display: flex;
    text-align: justify;
}

.footer_address {
    flex: 1;
}

.footer_text {
    flex: 1;
}

.section_footer div {
    margin: 2em;
}





@media screen and (max-width: 992px) {
    header {
        padding: 2em 5em 2em 5em;
      }
      #main {
        padding: 2em 5em 1em 5em;
      }
      #magna {
        display: block;
      }
  }


  @media screen and (max-width: 767px) {
    header {
        padding: 1em 1em 1em 1em;
    }
    header img {
        max-width: 45px;
    }
    #main {
        padding: 2em 2em 1em 2em;
      }
    #intro{
        flex-direction: column;
    }
    #intro_text:nth-child(1) {
        order: 2;
    }
    #intro_img:nth-child(2) {
        order: 1;
    }
    #intro_img img {
        min-width: 160px;
        width: 40%;
        margin-left: 0;
  }

  .section_footer{
    display: block;
  }
  }
  @media screen and (max-width: 570px) {
    body {
        font-size: 12pt;
      }
      #main {
        padding: 20px 15px 20px 15px;
      }
      #ipsum {
        margin-top: 20px;
        flex-direction: column;
        
      }
      #ipsum div {
        width: 100%;
        padding: 0;
      }
      .style1 {
        background-color: #efa8b0;
        border-radius: 20px 20px 0px 0px ;
    
    }
    .style5 {
        background-color: #8cc9f0;
        border-radius: 0px 0px 20px 20px ;
    
    }
    }
   

  @media screen and (max-width: 400px) {
    #magna div {
        justify-content: space-around;
        text-align: center;
        padding: 0em;
      }
  }